<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.typeinfo.mapper.TypeinfoMapper">
    
    <resultMap type="Typeinfo" id="TypeinfoResult">
        <result property="typeId"    column="type_id"    />
        <result property="typeName"    column="type_name"    />
    </resultMap>
	
	<sql id="selectTypeinfoVo">
        select type_id, type_name from typeinfo
    </sql>
	
    <select id="selectTypeinfoList" parameterType="Typeinfo" resultMap="TypeinfoResult">
        <include refid="selectTypeinfoVo"/>
        <where>  
            <if test="typeId != null "> and type_id = #{typeId}</if>
             <if test="typeName != null  and typeName != '' "> and type_name = #{typeName}</if>
         </where>
    </select>
    
    <select id="selectTypeinfoById" parameterType="Integer" resultMap="TypeinfoResult">
        <include refid="selectTypeinfoVo"/>
        where type_id = #{typeId}
    </select>
        
    <insert id="insertTypeinfo" parameterType="Typeinfo">
        insert into typeinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="typeId != null  ">type_id,</if>
			<if test="typeName != null  and typeName != ''  ">type_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="typeId != null  ">#{typeId},</if>
			<if test="typeName != null  and typeName != ''  ">#{typeName},</if>
         </trim>
    </insert>
	 
    <update id="updateTypeinfo" parameterType="Typeinfo">
        update typeinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null  and typeName != ''  ">type_name = #{typeName},</if>
        </trim>
        where type_id = #{typeId}
    </update>

	<delete id="deleteTypeinfoById" parameterType="Integer">
        delete from typeinfo where type_id = #{typeId}
    </delete>
	
    <delete id="deleteTypeinfoByIds" parameterType="String">
        delete from typeinfo where type_id in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>
    
</mapper>